#nav
  width: 100%
  position: absolute
  top: 30px
  z-index: 1
  left: 50%
  transform: translateX(-50%)
  ul
    padding: 30px 0 0 0

    display: flex
    //flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    +sm
      flex-direction: row
    h1
      color: $gray
      font-size: 12px
    a
      color: rgba($gray, 0.7)
      text-transform: uppercase
      +ls(100, 10)
      font-size: 12px

    a.btn
      color: $gray
    &.menu
      flex-direction: row
      justify-content: center
      flex-wrap: wrap
      padding: 0
      margin-top: 30px
      line-height: 47px
      display: none
      +sm
        margin-top: 0
        display: flex
        line-height: inherit
      li
        margin-right: -1px

        a
          border: 1px solid $gray
          +sm
            padding: 15px 3em
          padding: 15px 1em
          border: 1px solid $gray

          +transition(all)
          &:hover
            color: $gray

        &:last-of-type
          a
            margin-right: 0
    .menu_mobile
      padding: 0
      flex-direction: column
      margin-top: -14px
      align-items: flex-end
      text-align: right
      +sm
        display: none
      &-icon
        border: 1px solid $gray
        display: flex
        flex-direction: row
        overflow: hidden
        p
          text-transform: uppercase
          color: $gray
          font-family: $roboto
          padding: 13px
          font-style: normal
          +transition(all)
        .bars
          display: flex
          height: 48px
          width: 48px
          flex-direction: column
          padding: 13px
          justify-content: space-around
          .bar
            display: block
            width: 100%
            height: 1px
            background: $gray
            +transition(all)
      &-links
        margin-top: 0
        height: 0
        overflow: hidden
        li
          display: block
          opacity: 0
          +transition(opacity)
          @for $i from 1 through 8
            &:nth-child(#{$i})
              transition-delay: 0.08s * $i

    .active
      color: $gray
      +sm
        border-color: $gray $color $gray $gray
      border-color: $gray
      background: $color
      &:hover
        color: $gray
      .active
        color: $gray
        +sm
          border-color: $gray $color $gray $gray
        background: $color
        &:hover
          color: $gray
    .is-active
      .menu_mobile-icon
        p
          transform: translateX(100px)
          padding: 13px 0
          width: 0
          opacity: 0
        .bar
          transform-origin: left
          transform: translateX()
          &:nth-child(1)
            transform: rotate(45deg) translateX(2px) translateY(-2px)
          &:nth-child(2)
            opacity: 0
          &:nth-child(3)
            transform: rotate(-45deg) translateX(1px) translateY(3px)
      .menu_mobile-links
        height: inherit
        margin-top: 30px
        li
          opacity: 1
