
extends _layout.jade

block vars
  - var title='Designer UI & Intégrateur Front-End | Valentin Galmand | Bordeaux'
  - var titlename='Home'

block content
  include jade/layout/header.jade
  include jade/layout/works.jade
