extends _casestudy_layout.jade

block vars
  - var title='Meije'
  - var description = 'Welcome to my page'

block content
  include jade/layout/nav.jade
  include jade/casestudy_layout/infos.jade
  
