section#infos
  article.container
    h1.col-md-11.col-md-push-1.title Meije
    .col-md-10.col-md-push-1.row
      h2.col-md-12.subtitle À propos du projet
      .col-md-8
        h3 Hello
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste dolorem debitis alias id ratione ducimus amet nesciunt, qui impedit maxime voluptates eos tenetur asperiores totam tempora quam eum corporis optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aliquid in perspiciatis impedit veniam ratione laborum, omnis, rem voluptatibus, asperiores inventore labore ullam delectus quibusdam eaque laudantium porro eligendi aspernatur.
      .col-md-4
        h3 Client 
        p Altan Bottier
      
        h3 SERVICES 
        p - Graphic identity, photography, motion
      
        h3 Year
        p - 2015
      
        h3 Team
        p - Jean
        p - Olaf
        p - Mushu
      
        a(href="").btn Visiter le site
