.btn
  border: 1px solid
  display: inline-block
  padding: 15px 3em
  box-shadow: 0 0 0 0 $color
  +transition(all)
  text-transform: uppercase
  +ls(100, 12)
  margin: 20px auto 0 auto
  &:hover
    border-color: $color
    color: $color!important
    box-shadow: 3px 3px 0 0 $color
