section#bio
  .container
    h1.title.col-md-12.col-md-push-1 Bio
    .col-md-6.col-md-push-1
    

    
      h2.subtitle À propos
      h3 Qui suis-je ?
      p J’ai 20 ans, born and raised à Bordeaux comme on dit de l'autre côté de l'Océan Atlantique. Après un BAC Communication Visuelle et Plurimédia, je suis actuellement en 
        a(href="http://mmibordeaux.com/dut-mmi/") DUT Métiers du Multimédia et de l'Internet
        | .
      p Passionné par beaucoup de choses, je me concentre sur l'UX/UI design d'application web et mobile, le design d'interaction, l'identité visuelle et aussi le développement front-end.
      h3 En dehors du web
      p Grand amateur de films et séries, de vélo (Fixed Gear) et du crayon (dessin , lettering, dot-work) avec quatre expositions.
      h3 Où me trouver ?
      p: a(href="https://twitter.com/vgalmand") Twitter 
        | - 
        a(href="http://codepen.io/asstor_/") Codepen 
        | - 
        a(href="https://dribbble.com/Valentinvalentin") Dribbble 
        | - 
        a(href="https://www.instagram.com/valentinvalentin_/") Instagram 
        | - 
        a(href="https://www.linkedin.com/in/valentingalmand") LinkedIn
    .clearfix
    .col-md-3.col-md-push-1
      h2.subtitle Compétences
      h3 Langages de programmation
      p - HTML5 (Jade, Slim)
      p - CSS3 (SASS, Bootstrap) 
      p - Javascript (jQuery)
      
      h3 Notions
      p - PHP
      p - Swift
      p - Motion Design
      p - Montage vidéo
      
      
      h3 Outils
      p - Atom
      p - Adobe Creative Suite
      p - Codekit
      p - Github

      
    .col-md-4.col-md-push-1
      h2.subtitle Expériences
      h3 SEA Communication <span>/ Stage </span>
      p Graphiste print & web - Web designer
      h3 Studio Bohème <span>/ Stage </span>
      p Intégrateur web - Wordpress
      h3 CCL Print <span>/ Stage </span>
      p Opérateur numérique - Graphiste print
      h3 Adventis <span>/ Stage </span>
      p Graphiste print
      h3 Graphic System <span>/ Stage </span>
      p Graphiste print
      h3 Capsule Urbaine
      p Journaliste - Graphiste - Web Designer 
  
    .col-md-12.col-md-push-1
      p <br>
      a.btn(href= gt_pdf + "cv_galmand-valentin.pdf") Télécharger mon cv
