header#header
  .container
    h1.title.col-md-12.col-md-push-1 Enchanté, je suis Valentin !
    .col-md-6.col-md-push-1.col-md-push
      span.subtitle infos
      p Passioné par beaucoup de choses, je me concentre sur l'UX/UI design d'application web et mobile, le design d'interaction, l'identité visuelle et aussi le developpement front-end. Actuellement en deuxième année en 
        a(href="http://mmibordeaux.com/dut-mmi/") DUT Métiers du Multimédia et de l’Internet
        | . <br> <br> Je suis à la recherche d'un stage de deux mois à partir de mi-avril en tant qu'UI designer.
    
    
