nav#nav
  .container
    .col-md-12.col-xs-12
      ul
        li: a(href="index.html").logo 
          h1 Valentin Galmand
        ul.menu
          li: a(href="index.html" class=(titlename === 'Home')? "active" : "") Travaux
          li: a(href="about.html" class=(titlename === 'About')? "active" : "") Bio
          li: a(href="mailto:v.galmand@gmail.com?&body=Enchanté, Valentin !") Envoyez-moi un mail
        ul.menu_mobile
          .menu_mobile-icon
            p menu
            .bars
              span.bar
              span.bar
              span.bar
          .menu_mobile-links
            li: a(href="index.html" class=(titlename === 'Home')? "active" : "") Travaux
            li: a(href="about.html" class=(titlename === 'About')? "active" : "") Bio
            li: a(href="mailto:v.galmand@gmail.com?&body=Enchanté, Valentin !") Envoyez-moi un mail
